.form-container {
    min-width: 303px;
    width: 322px;
    margin: 0 auto;
    border-radius: 4px;
    background: #fff;
    height: 380px;
    margin-top: 11px;
    padding: 25px;
    border-radius: 4px;
}


