.login-container .content .top {
    display: flex;
    flex-direction: column;
}

.login-container .content .top h1 {
    color: var(--white);
    font-size: 32px;
    margin-bottom: 30px;
}
.login-container .content .top h1.white-mode {
    color: var(--black);
}

.login-container .content .top form {
    display: flex;
    flex-direction: column;
}

.login-container .content .top form button.white-mode {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.login-container .content .top form a {
    color: var(--grey-text-secondary);
    text-align: right;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
}

.login-container .content .top form a.white-mode {
    color: var(--dark-grey);
}

@media all and (max-width: 480px) {
    .login-container {
        height: calc(100vh - 110px);
        position: absolute;
        top: 110px;
        padding: 50px 25px;
        border-radius: 0;
    }
    .login-container .content .top h1 {
        font-size: 24px;
    }
}