h1.page-not-found{
    color: #fff;
    text-align: center;
}
.center-everything{
    display:flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 236px);
}
.center-h{
    width: 100%;
    height: calc(100vh - 236px);
}